#show1 {
  padding-top: $navbar-height
}

.ticket-description {
  padding-top: 20px;
  padding-bottom: 20px;
  font-style: italic;
  color: #3B3B3D
}

#btn-accept {
  padding: 20px;
  margin-top: 15px;
}
