<%  user = (ticket.user == current_user) ? "current_user_topic" : "" %>
<% taken = ticket.taken == true ? "taken" : "" %>
<div class="topic-card <%= user %> <%= taken %>">
  <h3 id="topic-title"><%= ticket.title %></h3>
</div>
