<div class="container-fluid">
  <div class="row" id="home1">
    <div class="col-xs-12 col-sm-5" id="title-container">
      <div class="title-content text-center">
        <h1>EA Ox Conversations</h1>
        <h4>Facilitating high quality conversations amongst people in Oxford</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-7" id="hero-container">
      <%= render 'shared/ticket-form' %>
    </div>
  </div>
</div>

<div id="home2" class="text-center">

  <!-- <h3>Topics on Discussion</h3> -->
  <div class="row" id="topic-cards">
    <% @open_tickets.each do |ticket| %>
      <%= link_to ticket_path(ticket) do %>
        <div class="col-xs-12 col-sm-4 col-md-3 topic-card-container">
        <%= render 'shared/topic-card', ticket: ticket %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
