#comment_content {
  width: 100%;
  border: none;
  border-radius: 3px;
  height: 70px;
  box-shadow: 1px 1px 4px 0px rgba(106, 107, 107, 0.1);
}

#comment-submit {
  // background: white;
  // border: none;
  // padding: 10px;
  // border-radius: 2px;
}

.comments {
  list-style-type: none;
}

.single-comment {
  padding: 20px;
  background: white;
  border-radius: 3px;
  height: 70px;
  box-shadow: 1px 1px 4px 0px rgba(106, 107, 107, 0.1);
  margin-top: 20px;
}
