.ticket-form-container {
  background: white;
  height: 70%;
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#ticket-form-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}


#ticket_title {
  height: 130px;
  max-width: 100%;
}

.predef-topic-btn {
  margin-top: 20px;
}

@media (max-width: $screen-xs-min) {
  .ticket-form-container {
    width: 90%;
    padding: 20px;
  }
  #ticket_title {
  }
}
