.ticket-form-container {
  background: white;
  height: 70%;
  width: 60%;
  margin: auto;
  padding: 30px;
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#ticket-form-title {
  margin-bottom: 10px;
  font-size: 1.2em;
}



#ticket_title {
  height: 130px;
  max-width: 100%;
  font-size: small;
}

#anonymous-sublabel {
  font-size: small;
  color: gray;
  margin-bottom: 15px;
}

@media (max-width: $screen-xs-min) {
  .ticket-form-container {
    width: 90%;
    padding: 20px;
    height: 85%;
  }

  .ticket-form-container, #hero-container {
    min-height: 400px;
  }

  #ticket_title {
    height: 90px;
  }
  .form-content {
  font-size: small;
  }
}
