.topic-card {
  height: 230px;
  width: 100%;
  background-image: linear-gradient(0deg,#0da382,#67e44e);
  box-shadow: 0 10px 25px 0 rgba(50,94,128,.2);
  border-radius: 3px;
  margin: 20px;
  color: white;
  text-align: left;
  padding: 10px;
  position: relative;
}

.topic-user {
  position: absolute;
  bottom: 5px;
}

#topic-title {
  margin: 0;
}

.current_user_topic {
  opacity: 0.5;
}

.taken {
  background-image: linear-gradient(0deg,#3b3e4c,#666678);
}
